/*map para formulario*/

$estiloFormulario: (
  ancho: 40%,
  borde: 1px solid white,
  relleno: 10px,
  borde-redondeado: 5px,
  alineacion-texto: center,
);
.form-container {
  display: flex;
  justify-content: center;
}
form {
  width: map-get($estiloFormulario, ancho);
  border: map-get($estiloFormulario, borde);
  padding: map-get($estiloFormulario, relleno);
  border-radius: map-get($estiloFormulario, borde-redondeado);
  text-align: map-get($estiloFormulario, alineacion-texto);
}

.btn {
  background-color: orange;
}
.card-text {
  color: black;
}
