.container {
  .row {
    .pt-5 {
      opacity: 0;
    }
    .me-auto {
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
    }
  }
}

.text-event {
  .bi {
    margin-right: 5px;
  }
  text-decoration: none;
  color: #ffffff;
  text-shadow: black 1px 0 10px !important;
  font-weight: bold;
  padding: 0.1rem;
  border: 2px solid rgb(229, 32, 36, 0.4);
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.4);
}
