/*se aplica mixin*/
@mixin tamaños($width, $height) {
  width: $width;
  height: $height;
}
.main-galeria img {
  @include tamaños(100%, 100%);
  object-fit: cover;
  transition: 0.3s ease all;
}
.main-galeria img:hover {
  transform: scale(1.05);
}
