main {
  margin-top: 0px;
}
header {
  .nav-link-red {
    font-size: 1.3rem;
    color: #e51f27;
    text-decoration: none;
  }
}
#header-principal {
  z-index: 100;
}
.bg-body-tertiary {
  background-color: #ffffff !important;
}

.principal img {
  width: 100%;
}
.video-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
iframe {
  width: 640px;
  height: 400px;
}
.article_container article {
  display: flex;
  padding: 20px;
  align-items: center;
}
.article_container article img {
  width: 100%;
}
.article_container article p {
  padding: 50px;
}
.carousel {
  position: relative;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.img {
  vertical-align: middle;
}

footer {
  background-color: white;
  .bi {
    font-size: 1.8rem !important;
    color: #e51f27 !important;
  }
}
