@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
main {
  margin-top: 116px;
}

.principal img {
  width: 100%;
}

.video-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

iframe {
  width: 640px;
  height: 400px;
}

.article_container article {
  display: flex;
  padding: 20px;
  align-items: center;
}

.article_container article img {
  width: 100%;
}

.article_container article p {
  padding: 50px;
}

.carousel {
  position: relative;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.img {
  vertical-align: middle;
}

/*se aplica mixin*/
.main-galeria img {
  width: 400px;
  height: 400px;
}

.main-galeria .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 60px;
  justify-items: center;
  margin-top: 20px;
}

.bio-info {
  margin: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
}

fieldset {
  padding: 30px;
  width: 40%;
  margin-bottom: 100px;
}

.eventos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 20px;
  gap: 10px;
  justify-content: space-around;
  margin-top: 20px;
}

/*map para formulario*/
.form-container {
  display: flex;
  justify-content: center;
}

form {
  width: 50%;
  border: 1px solid white;
  padding: 20px;
  border-radius: 5px;
}

.btn {
  background-color: orange;
}

.card-text {
  color: black;
}

/*variables*/
/* estilos generales*/
* {
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
  padding: 10px;
}

body {
  background-color: black;
  color: beige;
  font-family: sans-serif;
}

/*header con nesting*/
header {
  position: sticky;
  top: 0;
  background-color: black;
}
header .navbar-collapse {
  justify-content: flex-end;
}
header .nav-item {
  display: flex;
  align-items: center;
}
header .nav-link {
  color: rgb(218, 93, 93);
  font-size: 1.3rem;
}

/*footer con nesting*/
footer {
  padding: 50px;
  border-top: 1px solid #403e3e;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
}
footer li {
  list-style: none;
}
footer .bi {
  color: rgb(218, 93, 93);
  font-size: 2.3rem;
}

/*MEDIA QUERIES*/
/*Tablet*/
@media only screen and (max-width: 768px) {
  /*galeria*/
  .galeria-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
/*mobile*/
@media only screen and (max-width: 576px) {
  /*Estilos Generrales*/
  header {
    flex-direction: column;
    align-items: center;
  }
  header img {
    width: 90%;
  }
  .menu-nav {
    padding: 10px 0px;
  }
  .video-container {
    flex-direction: column;
    align-items: center;
  }
  iframe {
    width: 500px;
    height: 280px;
  }
  .article_info-a {
    flex-direction: column;
    text-align: justify;
  }
  .article_info-b {
    flex-direction: column-reverse;
    text-align: justify;
  }
  /*galeria*/
  .galeria-container {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=style.css.map */