@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
main {
  margin-top: 0px;
}

header .nav-link-red {
  font-size: 1.3rem;
  color: #e51f27;
  text-decoration: none;
}

#header-principal {
  z-index: 100;
}

.bg-body-tertiary {
  background-color: #ffffff !important;
}

.principal img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.w-100 {
  width: 100% !important;
}

.d-block {
  display: block !important;
}

.video-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

iframe {
  width: 640px;
  height: 400px;
}

.article_container article {
  display: flex;
  padding: 20px;
  align-items: center;
}

.article_container article img {
  width: 100%;
}

.article_container article p {
  padding: 50px;
}

.carousel {
  position: relative;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.img {
  vertical-align: middle;
}

.musicIframe {
  padding: 5% 0px;
  margin: 6% 0px 0px 0px;
}
.musicIframe .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.musicIframe .row {
  justify-content: space-around;
  margin-right: -15px;
  margin-left: -15px;
}
.musicIframe .row .mbot20 {
  margin-bottom: 20px;
}
.musicIframe .row .streaming {
  width: 100%;
  height: 450px;
}

footer {
  background-color: white;
}
footer .bi {
  font-size: 1.8rem !important;
  color: #e51f27 !important;
}

/*se aplica mixin*/
.main-galeria img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease all;
}

.main-galeria img:hover {
  transform: scale(1.05);
}

fieldset {
  padding: 30px;
  width: 40%;
  margin-bottom: 100px;
}

.container .row .card-cover {
  background-repeat: no-repeat;
  background-size: cover;
}
.container .row .pt-5 {
  opacity: 0;
}
.container .row .me-auto {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
}

.text-event {
  text-decoration: none;
  color: #ffffff;
  text-shadow: black 1px 0 10px !important;
  font-weight: bold;
  padding: 0.1rem;
  border: 2px solid rgba(229, 32, 36, 0.4);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
.text-event .bi {
  margin-right: 5px;
}

/*map para formulario*/
.contacto-form .row {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.g-3 {
  width: 50%;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  align-items: center;
}

.btn {
  background-color: orange;
}

/*variables*/
/* estilos generales*/
* {
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
  padding: 10px;
}

.navbar-image {
  width: 40%;
  animation: ease-in animation 1s;
}

@keyframes animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
body {
  background-color: black;
  color: beige;
  font-family: sans-serif;
}

/*header con nesting*/
header {
  position: sticky;
  top: 0;
  background-color: black;
}
header .navbar-collapse {
  justify-content: flex-end;
}
header .nav-item {
  display: flex;
  align-items: center;
}
header .nav-link {
  color: rgb(218, 93, 93);
  font-size: 1.3rem;
}
header .btn {
  background-color: gray;
}
header .btn-primary a {
  text-decoration: none;
  color: white;
}

/*footer con nesting*/
footer {
  padding: 50px;
  border-top: 1px solid #403e3e;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
}
footer li {
  list-style: none;
}
footer .bi {
  color: rgb(218, 93, 93);
  font-size: 2.3rem;
}

/*MEDIA QUERIES*/
/*Tablet*/
@media only screen and (max-width: 768px) {
  /*galeria*/
  .galeria-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
/*mobile*/
@media only screen and (max-width: 576px) {
  /*Estilos Generrales*/
  header {
    flex-direction: column;
    align-items: center;
  }
  .navbar-image {
    width: 25%;
    padding: 1.2rem;
  }
  .menu-nav {
    padding: 10px 0px;
  }
  .video-container {
    flex-direction: column;
    align-items: center;
  }
  iframe {
    width: 500px;
    height: 280px;
  }
  .article_info-a {
    flex-direction: column;
    text-align: justify;
  }
  .article_info-b {
    flex-direction: column-reverse;
    text-align: justify;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 100%;
    float: left;
  }
  footer {
    padding: 20px;
  }
  /*galeria*/
  .galeria-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /*eventos*/
  .container.px-4.py-5 {
    max-width: 540px;
  }
}/*# sourceMappingURL=style.css.map */